body {
    font-family: Arial, Verdana, sans-serif;
    color: black;
}

div.header {
    background-color: rgb(240,240,240);
  width: 100%;
  height: 200px;
  border: 1px solid black;
}

div.leftblock {
  display: inline-block;
  float: left;
    height: 650px;
  width: 25%;
  margin-right: 5px;
  border: 1px solid black;
  padding: 5px;
}

div.content {
  padding: 5px;
  float: right;
  width: 72%;
    height: 650px;
  display: inline-block;
  border: 1px solid black;
}



div.footer {
  width: 100%;
  display: inline-block;
  height: 100px;
  border: 1px solid black;
}

ul  li{
  display: inline-block;  
  margin-right: 5px;
    border-right: 1px solid black;
    padding: 5px;
    transition: 1s;
}

ul li:hover {
    background: rgb(168,168,168);
}